@model IEnumerable<Store.Core.ViewModels.BasketItemViewModel>

@{ViewBag.Title = "Basket";
    decimal gTotal = 0;}

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img class="img" src="~/Content/ProductImages/@item.Image" style="height:50px" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @String.Format("{0:c}", item.Price)
            </td>
            <td>
                @String.Format("{0:c}", item.Shipping)
            </td>
            <td>
                <a href="@Url.Action("RemoveFromBasket","Basket", new { id = item.Id })" class="btn btn-default"><span>Delete</span><i class="icon-angle-right"></i></a>
            </td>
        </tr>
        gTotal = gTotal + item.Price + item.Shipping;

    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="grandtotal"><b>Grand Total Canadian Dollars $<span>@gTotal</span></b></td>
    </tr>
</table>
<a href="@Url.Action("Checkout","Basket")" class="placeorder btn btn-primary pull-right">Checkout</a>
