@model IEnumerable<Store.Core.ViewModels.BasketItemViewModel>

@{ViewBag.Title = "Basket";
    int count = 1;
    decimal gTotal = 0;}

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quanity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td><img class="img" src="~/Content/ProductImages/@item.Image" style="height:100px" /></td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quanity)
        </td>
        <td>
            @String.Format("{0:c}", item.Price) ($CDN)
        </td>
        <td>
            @String.Format("{0:c}", item.Shipping) ($CDN)
        </td>
        <td>
            @String.Format("{0:c}", item.Price + item.Shipping) ($CDN)
        </td>
    </tr>
        gTotal = gTotal + item.Price + item.Shipping;

    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="grandtotal"><b>Grand total Canadian Dollars $<span>@gTotal</span></b></td>
    </tr>
</table>
<div class="paypaldiv">
    <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="hosted_button_id" value="MZ6CQSV3TMCHL">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="bmorgan-faciliator@telusplanet.net">

        @foreach (var item in Model)
        {
            <input type="hidden" name="item_name_@count" value="@item.ProductName">
            <input type="hidden" name="amount_@count" value="@item.Price">
            <input type="hidden" name="quantity_@count" value="@item.Quanity">
            <input type="hidden" name="shipping_@count" value="@item.Shipping" />
            count++;
        }

        <input type="hidden" name="currency_code" value="CAD">
        @*<input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">*@
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

    </form>
</div>
<br />
<a href="#" class="PlaceOrder btn btn-primary pull-right">Pay with PayPal</a>
@section Scripts {

    <script>

        $(function () {

            $("a.PlaceOrder").click(function (e) {
                e.preventDefault();

                var $this = $(this);

                var url = "/Basket/PlaceOrder";

                $(".ajaxbg").show();

                $.post(url, {}, function (data) {
                    $(".ajaxbg span").text("Thank you. You will now be redirected to paypal.");
                    setTimeout(function () {
                        $('form input[name="submit"]').click();
                    }, 2000);
                });
            });

        });

    </script>
    }

