@model Store.Core.ViewModels.ProductManagerViewModel

@{
    ViewBag.Title = "Add To Cart";
}

<h2>Add to Cart</h2>


@using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Product.Id)

        <div class="col-lg-push-4">
            <img class="img" style="height:400px;padding:5px;margin:5px;border: solid thin whitesmoke" src="~/Content/ProductImages/@Model.Product.Image" ) />
            <img class="img" style="height:400px;padding:5px;margin:5px;border: solid thin whitesmoke" src="~/Content/ProductImages/@Model.Product.Image2" ) />
            <dl class="dl-horizontal">
                <dt>
                    Study Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.Size)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.Size)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.Product.Price) ($CDN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.Shipping)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.Product.Shipping) ($CDN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.ShippingTerms)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.ShippingTerms)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Product.Category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Product.Category)
                </dd>
            </dl>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update Cart" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index", "Products", new { @class = "btn btn-default" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
