@model Store.Core.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="col-lg-push-4">
        <img class="img" style="height:400px;padding:5px;margin:5px;border: solid thin whitesmoke" src="~/Content/ProductImages/@Model.Image") />
        <img class="img" style="height:400px;padding:5px;margin:5px;border: solid thin whitesmoke" src="~/Content/ProductImages/@Model.Image2") />
        <dl class="dl-horizontal">
            <dt>
                Study Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Size)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Price) ($CDN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Shipping)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Shipping) ($CDN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShippingTerms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingTerms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dd>
                @Html.ActionLink("Add To Cart", "AddToCart", "Products", new { id = Model.Id }, new { @class = "btn btn-default" })
            </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index","Products", new { @class = "btn btn-default" })
</p>
