@model IEnumerable<Store.Core.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table col-4-space">
    <tr>
        <th>
            Painting
        </th>

        <th>
            Supplemental
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img" style="height:100px;padding:5px;margin:5px;border: solid thin whitesmoke" src="~/Content/ProductImages/@item.Image" />
        </td>
        <td>
            <img class="img" style="height:100px;padding:5px;margin:5px;border: solid thin whitesmoke" src="~/Content/ProductImages/@item.Image2" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Products", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Add To Cart", "AddToCart", "Products", new { id = item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
